<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0K1x-3iduHHJxH2dBvK8gE2EV3dAzc5w</string>
	<key>GCM_SENDER_ID</key>
	<string>623877066632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-23.GDZ-App</string>
	<key>PROJECT_ID</key>
	<string>gdzgdushin</string>
	<key>STORAGE_BUCKET</key>
	<string>gdzgdushin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623877066632:ios:e13f63ca259accccdc343d</string>
	<key>DATABASE_URL</key>
	<string>https://gdzgdushin-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>